## Visual Studio 編譯和調試文件

# 編譯輸出
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/

# 日誌文件
[Ll]og/
[Ll]ogs/

# Visual Studio 緩存
.vs/

# 用?特定文件
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# IDE
.idea/
*.sln.iml

# 本地環境變量
.env
.env.local

